# Build and runtime dependencies
node_modules/
.next/
dist/
build/

# Logs and databases
*.log
*.sqlite
data/
loot/

# Environment variables
.env
.env*.local

# System files
.DS_Store
Thumbs.db

# Executables and build specs
*.exe
*.spec
s.exe
d.spec
s.spec
